<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  
  <%- messages() %>
  
      <%# if (errors) { %>
        <ul class="notice">
       <%# errors.array().forEach(error => { %>
         <li><%# error.msg %></li>
      <%#  }) %>
       </ul>
      <%# } %>
  
  <div class="p-5"> 
      <form action="/account/editAccount" method="post">
            <label for="account_firstname">First Name:</label><br>
            <input type="text" id="account_firstname" name="account_firstname" required value="<%-locals.account_firstname %>" pattern="[A-Za-z ]{3,20}"><br>
            <label for="account_lastname">Last Name:</label><br>
            <input type="text" id="account_lastname" name="account_lastname" required value="<%-locals.account_lastname %>" pattern="[A-Za-z ]{3,20}"><br>
            <label for="account_email">Email:</label><br>
            <input type="email" id="account_email" name="account_email" required placeholder="Enter a valid email address" value="<%-locals.account_email %>" pattern="[a-zA-Z0-9.]{2,46}@[a-zA-Z0-9.]{2,46}.\w"><br>
            <button type="submit">Update</button>
        </form> 
        <br>
        <form action="/account/editAccount" method="post">
            <h2>Update Password</h2>
            <p>Password must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</p>
            <p>note your original password will be change</p><br>
            <label for="account_password">Password:</label><br>
            <input type="password" id="account_password" name="account_password" required value="" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>
            <button type="submit">Update</button>
        </form> 
        <br>
        <br>
</div>
